

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{screenName}}'s {{type}}</mat-panel-title>
    <mat-panel-description>
      {{users.length}} {{type}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <ng-template matExpansionPanelContent>
    <mat-list>
      <mat-list-item *ngFor="let user of users; let i = index">
        <a [routerLink]="['/users/', user.userId]">
          <app-profile-pic [profilePicName]="user.profilePic" title= "{{user.screenName}}" imageSize="thumb"></app-profile-pic>
        </a>
      </mat-list-item>
    </mat-list>
  </ng-template>
</mat-expansion-panel>