<div class="profile">
  <app-profile-pic imageSize="normal" [profilePicName]="profile.profilePic"></app-profile-pic>
  <div class="profileMain">
    <ul>
      <li class="screenName">Screen Name: {{profile.screenName}}</li>
      <li class="firstName">First Name: {{profile.firstName}}</li>
      <li class="lastName">Last Name: {{profile.lastName}}</li>
      <li class="gender">Gender: {{profile.gender | gender}}</li>
      <li class="age">Age: {{profile.dateOfBirth | age}}</li>
      <li class="birthday">Birthday: {{profile.dateOfBirth | date: 'MMMM d'}}</li>
      <li class="location">Location: {{profile.city + ' ' + profile.region + ' ' + profile.country}}</li>
      <li class="areaOfStudy">Area of Study: {{profile.areaOfStudy}}</li>
      <li class="bio">Bio: {{profile.bio}}</li>
    </ul>
  </div>
  <div class="profileRelations">
    <app-users-list [userId]="profile.userId" type="friends"></app-users-list>
  </div>
</div>