<div class="profile">
  <app-profile-pic imageSize="normal" [profilePicName]="profile.profilePic"></app-profile-pic>
  <div class="profileMain">
    
    <mat-list role="list">
      <mat-list-item class="screenName">Screen Name: {{profile.screenName}}</mat-list-item>
      <mat-list-item class="firstName">First Name: {{profile.firstName}}</mat-list-item>
      <mat-list-item class="lastName">Last Name: {{profile.lastName}}</mat-list-item>
      <mat-list-item class="gender">Gender: {{profile.gender | gender}}</mat-list-item>
      <mat-list-item class="age">Age: {{profile.dateOfBirth | age}}</mat-list-item>
      <mat-list-item class="birthday">Birthday: {{profile.dateOfBirth | date: 'MMMM d'}}</mat-list-item>
      <mat-list-item class="location">Location: {{profile.city + ' ' + profile.region + ' ' + profile.country}}</mat-list-item>
      <mat-list-item class="areaOfStudy">Area of Study: {{profile.areaOfStudy}}</mat-list-item>
      <mat-list-item class="bio">Bio: {{profile.bio}}</mat-list-item>
    </mat-list>
  </div>
  <div class="profileRelations">   
      <app-users-list [userId]="profile.userId" [screenName]= "profile.screenName" type="friends" class="friendsList"></app-users-list>
      <app-users-list [userId]="profile.userId" [screenName]= "profile.screenName" type="followers" class="friendsList"></app-users-list>
      <app-users-list [userId]="profile.userId" [screenName]= "profile.screenName" type="following" class="followingList"></app-users-list>
  </div>
</div>