<div class="profile">
  <div class="username">Username: {{currentInfo.username}}</div>
  <div class="email">Email: {{currentInfo.email}}</div>
  <div class="firstName">First Name: {{currentInfo.firstName}}</div>
  <div class="lastName">Last Name: {{currentInfo.lastName}}</div>
  <div class="gender">Gender: {{userGender}}</div>
  <div class="age">Age: {{age}}</div>
  <div class="birthday">Birthday: {{birthday}}</div>
  <div class="location">Location: {{currentInfo.city + ' ' + currentInfo.region + ' ' + currentInfo.country}}</div>
  <div class="areaOfStudy">Area of Study: {{currentInfo.areaOfStudy}}</div>
  <div class="bio">Bio: {{currentInfo.bio}}</div>
  <button mat-button (click)="switchView()">Edit Profile</button>
</div>