
  a:-webkit-any-link:active {
    color: -webkit-activelink;
  }
  a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    border-bottom: 1px solid;

  }
  
  a:active {
    color: #CDFEAA;
  }
  mat-card{
    width: fit-content;
}